<!-- content that appears on every page, to be imported into all pages -->
<html>
<head>
<meta charset="utf-8">
  <title>SnackTime</title>
  <link href="{{ url_for ('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
  <!-- site background -->
  <style>
	body
		{			
			padding-top:100px;
			background-image: url({{ url_for('static', filename='img/background.jpg') }})
					
		}
  </style>
</head>
<body>
<!-- navigation bar that minimises to hamburger menu when page is resized -->
<!-- contains links to all main pages (savoury, sweet, healthy and main index page) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			data-toggle="collapse" data-target="#navbar" aria-expanded="false"
			aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/"><strong>Snack Time</strong></a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="/sweet">Sweet</a></li>
				<li><a href="/savory">Savory</a></li>
	      			<li><a href="/healthy">Healthy</a></li>

			</ul>
		</div>				
	</div>
	</nav>
{% block content %}


{% endblock %}}

	<script src ="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src ="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!-- page footer -->
<div class="footer">
<div class="container">
	<div class="row" style="text-align:center">
		<div class="col-xs-12">
        		<p> Emma Gray|SnackTime </p>
     		 </div>
	</div>
</div>
</div>
</body>
</html>
