{% extends "base.html" %}
{% block content %}
<!-- page describing the basic biscuit type of snack -->
<div class="container" id="sweet-cards">
	<h1>Biscuits</h1>
	<strong>
		<p>
			Biscuits today can be savoury or sweet, but most are small at around 5 cm (2.0 in)
			in diameter, and flat. The term biscuit also applies to sandwich-type biscuits,
			wherein a layer of "creme" or icing is sandwiched between two biscuits, such as 
			the custard cream, or a layer of jam (as in biscuits which, in the United Kingdom, 
			are known as "Jammie Dodgers".Sweet biscuits are commonly eaten as a snack food,
			and are, in general, made with wheat flour or oats, and sweetened with sugar or honey.
			Varieties may contain chocolate, fruit, jam, nuts, ginger, or even be used to sandwich
			other fillings.The digestive biscuit and rich tea have a strong identity in British culture
			as the traditional accompaniment to a cup of tea and are regularly eaten as such.Some tea
			drinkers "dunk" biscuits in tea, allowing them to absorb liquid and soften slightly before 
			consumption.Chocolate digestives, Rich tea, and Hobnobs were ranked the UK's top three
			favourite dunking biscuits in 2009,with custard creams coming third in a non-dunking poll.
		</p>
	</strong>
	<!-- more detailed information about a few types of biscuit -->
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/digestive.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>McVities Chocolate Digestive</h3>
				<p>Calories:84</p>
				<p>Total Fat:4.1g</p>
				<p>Sat Fat:2.1g</p>
				<p>Sugars:5.1g</p>
				<p>Sodium:0.1mg</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/custardcream.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>Custard Cream</h3>
				<p>Calories:65</p>
				<p>Total Fat:3.1g</p>
				<p>Sat Fat:1g</p>
				<p>Sugars:4g</p>
				<p>Sodium:0.1mg</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/jammie.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>Jammie Dodger</h3>
				<p>Calories:85</p>
				<p>Total Fat:3.2g</p>
				<p>Sat Fat:1.2g</p>
				<p>Sugars:4.9g</p>
				<p>Sodium:0.1mg</p>
			</div>
		</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}