{% extends "base.html" %}
{% block content %}
<!-- page containing general information about candy snacks -->
<div class="container" id="sweet-cards">
	<h1>Candy</h1>
	<strong>
		<p>
			Candy, also called sweets or lollies, is a confection that features sugar as a principal
			ingredient. The category, called sugar confectionery, encompasses any sweet confection, 
			including chocolate, chewing gum, and sugar candy. Vegetables, fruit, or nuts which have 
			been glazed and coated with sugar are said to be candied.Physically, candy is characterized 
			by the use of a significant amount of sugar or sugar substitutes. Unlike a cake or loaf of 
			bread that would be shared among many people, candies are usually made in smaller pieces.
			However, the definition of candy also depends upon how people treat the food. Unlike sweet 
			pastries served for a dessert course at the end of a meal, candies are normally eaten casually
			, often with the fingers, as a snack between meals. Each culture has its own ideas of what
			constitutes candy rather than dessert. The same food may be a candy in one culture and 
			a dessert in another.
		</p>
	</strong>
	<!-- more detailed information about a few different types of sweets -->
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/skittles.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>Skittles 100g</h3>
				<p>Calories:404</p>
				<p>Total Fat:4.2g</p>
				<p>Sat Fat:1.5g</p>
				<p>Sugars:89.8g</p>
				<p>Sodium:0.2g</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/refreshers.jpg')}}">
				<div class="caption" style="text-align:center">
					<h3>Refreshers 100g</h3>
					<p>Calories:380</p>
					<p>Total Fat:1.4g</p>
					<p>Sat Fat:0.7</p>
					<p>Sugars:88.7g</p>
					<p>Sodium:2.76g</p>	
				</div>
			</div>
				<div class="thumbnail col-md-4">
					<img src="{{ url_for('static', filename='img/jelly-tots.jpg')}}">
					<div class="caption" style="text-align:center">
						<h3>Jelly Tots 100g</h3>
						<p>Calories:352</p>
						<p>Total Fat:Trace</p>
						<p>Sat Fat:Trace</p>
						<p>Sugars:61g</p>
						<p>Sodium:0.5g</p>
					</div>
				</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}