{% extends "base.html" %}
{% block content %}
<!-- page providing general information about chocolate snacks -->
<div class="container" id="sweet-cards">
	<h1>Chocolate</h1>
	<strong>
		<p>
			Chocolate contains very small amounts of copper, iron, zinc, and protein, but not enough to be considered 
			a good source of these nutrients. The fat in chocolate is from cocoa butter, and is comprised of about 2/3 
			saturated fats and 1/3 monounsaturated fat.Though some people may assume that chocolate contains a lot of caffeine,
			 it has only trace amounts. One ounce of milk chocolate contains about 5 milligrams of caffeine, 1 ounce of semisweet
			 chocolate usually has 5 to 10 milligrams of caffeine, and a 6-ounce cup of cocoa usually has 10 milligrams. For comparison,
			 a 6-ounce cup of coffee contains 100 to 150 milligrams of caffeine.Dark chocolate has large quantities of flavonoids 
			called catechins, which may benefit heart health. However, processing cocoa into candy greatly reduces the flavonoid 
			levels unless the manufacturers take steps to preserve those phytochemicals. And, of course, chocolate bars are loaded 
			with sugar and calories. So enjoy chocolate in small amounts as the treat it is, not as a health food.
		</p>
	</strong>
	<!-- more detailed information regarding a few types of chocolate -->
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/twix.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>Twix 100g</h3>
				<p>Calories:495</p>
				<p>Total Fat:24g</p>
				<p>Sat Fat:13.9g</p>
				<p>Sugars:48.8g</p>
				<p>Sodium:44mg</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/bounty.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>Bounty 100g</h3>
				<p>Calories:483</p>
				<p>Total Fat:25.6g</p>
				<p>Sat Fat:19.8g</p>
				<p>Sugars:45.8g</p>
				<p>Sodium:95mg</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/cadburys.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>Dairy Milk 100g</h3>
				<p>Calories:534</p>
				<p>Total Fat:30g</p>
				<p>Sat Fat:18g</p>
				<p>Sugars:56g</p>
				<p>Sodium:24mg</p>
			</div>
		</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}