{% extends "base.html" %}
{% block content %}
<!-- page containing general information about fruit snacks -->
<div class="container" id="healthy-cards">
	<h1>Healthly</h1>
	<strong>
		<p>
			Fruits are low in calories and fat and are a source of simple sugars,
			fiber, and vitamins, which are essential for optimizing our health.
			Fruits compose of many antioxidants such as polyphenolic flavonoids, vitamin-C, 
			and anthocyanins. These compounds, firstly help human body protected from oxidant stress,
			diseases, and cancers, and secondly; assist the body in developing the capacity to fight
			against these ailments by boosting our immunity level. Many fruits, when compared to vegetables
			and cereals, have very high anti-oxidant values, which measured regarding their
			"Oxygen Radical Absorbent Capacity" or (ORAC).
		</p>
	</strong>
	<!-- more detailed information regarding a few different fruits -->
	<h3>Fruits</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/grapes.jpg')}}">
			<div class="caption" style="text-align:center">
				<h3>Grapes</h3>
				<p>Nutrition Per 100g</p>
				<p>Calories:69</p>
				<p>Total Fat:0g</p>
				<p>Sat Fat:0g</p>
				<p>Sugars:15g</p>
				<p>Sodium:2mg</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/apples.jpg')}}">
				<div class="caption" style="text-align:center">
				<h3>Apples</h3>
				<p>Nutrition Per 100g</p>
				<p>Calories:52</p>
				<p>Total Fat:0.1g</p>
				<p>Sat Fat:0g</p>
				<p>Sugars:10.4g</p>
				<p>Sodium:1mg</p>
				</div>
			</div>
				<div class="thumbnail col-md-4">
				<img src="{{ url_for('static', filename='img/banana.jpg')}}">
				<div class="caption" style="text-align:center">
				<h3>Bananas</h3>
				<p>Nutrition Per 100g</p>
				<p>Calories:89</p>
				<p>Total Fat:0.3g</p>
				<p>Sat Fat:0.1g</p>
				<p>Sugars:12.2g</p>
				<p>Sodium:1mg</p>
					</div>
				</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}