{% extends "base.html" %}
{% block content %}
<!-- snack time main page, displays website information and links to other pages -->
<div class="container" style="border:groove">
	<img src="{{ url_for('static', filename='img/hero.jpg')}}" alt="hero" class="img-responsive" style="background-position:center" >	
</div>
<div class="heading">
	<p>
		Welcome to Snack Time! Here you can find information on a variety of snacks split up into categories.
	</p>
	<p>
		For each snack there is nutritional informationi included, hopefully this will help you to make an
	</p>	
	<p>	informed choice when choosing your snacks. 
	</p>
</div>
{% endblock %}