{% extends "base.html" %}
{% block content %}
<!-- page detailing the different flavours and varieties of McCoys crisps -->
<div class="container" id="mccoys">
	<!-- link to McCoys nutritional info -->
	<strong><h1>McCoys</h1><a href="{{ url_for('mccoysnutrition')}}"> 
	<div class="nutrition">Nutritional Information</div></a>
	</strong>
		<div class="row">
			<div class="col-md-12">
				<div class="mccoys">
					<div class="thumbnail col-md-6">
					<img src="{{ url_for('static', filename='img/mccoys.jpg')}}">
					<ul>
						<!-- parsing and listing the contents of the JSON file pertaining to McCoys -->
						<!-- for each snack, all of the flavours are printed to the screen -->
						<div class="heading"><p>{{ mccoys.Snack1 }}</p></div>
						<p>Flavours:</p>
						{% for flavours in mccoys.Flavours1 %}
						<p>{{ flavours }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="mccoys">
					<div class="thumbnail col-md-6">
					<img src="{{ url_for('static', filename='img/chips.jpg')}}">
						<div class="heading"><p>{{ mccoys.Snack2 }}</p></div>
						<p> Flavours:</p>
						{% for flavours in mccoys.Flavours2 %}
							<p>{{ flavours }}</p>
						{% endfor %}
						
					</ul>
				</div>
			</div>
	</div>
</div><!-- End container -->
{% endblock %}