{% extends "base.html" %}
{% block content %}
<!-- page detailing McCoys nutritional info -->
<div class="container" id="mccoys-cards">
	<h1>McCoys Nutritional Information</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-6">
				<img src="{{ url_for('static', filename='img/steak.jpg')}}">
			<div class="caption" style="text-align:center">
				<h2>McCoys Ridged</h2>
				<h3>Average Nutritional info</h3>
				<p> Flavour:Flame Grilled Steak 30g</p>
				<p>Calories:158</p>
				<p>Total Fat:9.3g</p>
				<p>Sat Fat:0.84g</p>
				<p>Sugars:0.69g</p>
				<p>Sodium:0.45g</p>
			</div>
			</div>
			
			<div class="thumbnail col-md-6">
				<img src="{{ url_for('static', filename='img/schips.jpg')}}">
				<div class="caption" style="text-align:center">
				<h2>McCoys CHIPS</h2>
				<h3>Average Nutritional info</h3>
				<p> Flavour:Salt and Vinegar 30g</p>
				<p>Calories:158</p>
				<p>Total Fat:7.5g</p>
				<p>Sat Fat:0.75g</p>
				<p>Sugars:0.6g</p>
				<p>Sodium:0.6g</p>
				</div>
			</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}