{% extends "base.html" %}
{% block content %}
<!-- page containing pringles nutritional info -->
<div class="container" id="walkers-cards">
	<h1>Pringles Nutritional Information</h1>
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-6">
				<img src="{{ url_for('static', filename='img/original.jpg')}}">
			<div class="caption" style="text-align:center">
				<h2>Pringles</h2>
				<h3>Average Nutritional info</h3>
				<p> Flavour: Original 30g</p>
				<p>Calories:154</p>
				<p>Total Fat:9.9g</p>
				<p>Sat Fat:1.1g</p>
				<p>Sugars:0.1g</p>
				<p>Sodium:0.40g</p>
			</div>
			</div>
			
			<div class="thumbnail col-md-6">
				<img src="{{ url_for('static', filename='img/nacho.jpg')}}">
				<div class="caption" style="text-align:center">
				<h2>Pringles Tortillas</h2>
				<h3>Average Nutritional info</h3>
				<p> Flavour:Nacho Cheese Tortillas 30g</p>
				<p>Calories:145</p>
				<p>Total Fat:9.3g</p>
				<p>Sat Fat:1g</p>
				<p>Sugars:1.2g</p>
				<p>Sodium:0.5g</p>
				</div>
			</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}