{% extends "base.html" %}
{% block content %}
<!-- page detailing the different flavours and varieties of pringles crisps -->
<div class="container" id="pringles">
<!-- link to pringles nutritional info -->
	<strong><h1>Pringles</h1><a href="{{ url_for('pringlesnutrition')}}"> 
	<div class="nutrition">Nutritional Information</div></a>
	</strong>
		<div class="row">
			<div class="col-md-12">
				<div class="pringles">
					<div class="thumbnail col-md-6">
					<img src="{{ url_for('static', filename='img/pringles.jpg')}}">
					<ul>
					<!-- parsing and listing the contents of the JSON file pertaining to pringles -->
					<!-- for each snack, all of the flavours are printed to the screen -->
						<div class="heading"><p>{{ pringles.Snack1 }}</p></div>
						<p>Flavours:</p>
						{% for flavours in pringles.Flavours1 %}
						<p>{{ flavours }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="pringles">
					<div class="thumbnail col-md-6">
					<img src="{{ url_for('static', filename='img/tortilla.jpg')}}">
						<div class="heading"><p>{{ pringles.Snack2 }}</p></div>
						<p> Flavours:</p>
						{% for flavours in pringles.Flavours2 %}
							<p>{{ flavours }}</p>
						{% endfor %}
						
					</ul>
				</div>
			</div>
	</div>
</div><!-- End container -->
{% endblock %}