{% extends "base.html" %}
{% block content %}
<!-- page containing general onformation about different savoury snacks -->
<div class="container" id="savory-cards">
	<h1>Savory</h1>
	<strong>
		<p>
			Savoury food has a salty or spicy flavour rather than a sweet one. Savouries are small
			items of savoury food that are usually eaten as a snack, for example with alcoholic drinks at a
			party or before a meal. Savory snacks include crisps, crackers, peanuts, fries, meze or tapas.
		</p>
	</strong>
	<h2>Crisps</h2>
	<h3>Click on the below images for flavour information.</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-4">
			<!-- more detailed information about different types of crisps with links to further pages -->
				<a href="{{ url_for('walkers')}}"><img src="{{ url_for('static', filename='img/walkers.jpg')}}"></a>
			<div class="caption" style="text-align:center">
				<h3>Walkers</h3>
				<p>	Walkers was founded in 1948 in Leicester, England by Henry Walker, and acquired by Lay's owner,
				 	Frito-Lay, a division of PepsiCo, in 1989. It is best known for manufacturing potato crisps,
				 	and other snacks. 
				</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<a href="{{ url_for('pringles')}}"><img src="{{ url_for('static', filename='img/pringles.jpg')}}"></a>
				<div class="caption" style="text-align:center">
					<h3>Pringles</h3>
						<p>
							Pringles is an American brand of potato and wheat based stackable chips owned by Kellogg's.
							Pringles are sold in 140 countries.It was the 4th most
						 	popular snack brand after Lay's, Doritos & Cheetos in 2012.
						</p>
				</div>
			</div>
				<div class="thumbnail col-md-4">
					<a href="{{ url_for('mccoys')}}"><img src="{{ url_for('static', filename='img/mccoys.jpg')}}"></a>					
						<div class="caption" style="text-align:center">
						<h3>McCoys</h3>
						<p>
							McCoy's is a brand of crinkle-cut crisps made in the United Kingdom by KP Snacks.
						 	It was first produced in 1985 and is marketed under the slogan The Real McCoy's
							Accept No Imitations.
						</p>
					</div>
				</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}