{% extends "base.html" %}
{% block content %}
<!-- page containing general information about sweet snacks -->
<div class="container" id="sweet-cards">
	<h1>Sweet</h1>
	<strong>
		<p> Candy calories are empty calories. Empty calorie foods are those that provide little or
		 no nutritional benefit.Often these are foods that are full of solid fats and added sugars (SoFAS).
		 In a perfect world, we'd consume no empty calories at all.  We'd only eat foods full of healthy 
		nutrients and vitamins and minerals. But the truth is that empty calorie foods often taste good.
		 So nutrition experts have developed guidelines for the consumption of empty calories.
		 </p>
		<p>		
		<h3>Click on the below images from some more information on your favourites.</h3>
		</p>
	</strong>
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-4">
			<!-- more detailed information about different types of sweet snacks with libks to further pages -->
				<a href="{{ url_for('chocolate')}}"><img src="{{ url_for('static', filename='img/chocolate.jpg')}}"></a>
			<div class="caption" style="text-align:center">
				<h3>Chocolate</h3>
				<p>Chocolate is a food made from the seeds of a cacao bean. It is used in many desserts like
				 pudding, cakes, candy, ice cream. and Easter eggs. It can be a solid form like a candy bar
				 or it can be in a liquid form.
				</p>
			</div>
			</div>
			<div class="thumbnail col-md-4">
				<a href="{{ url_for('biscuit')}}"><img src="{{ url_for('static', filename='img/biscuit.jpg')}}"></a>
				<div class="caption" style="text-align:center">
					<h3>Biscuit</h3>
						<p>Biscuit's come in many shapes and forms.They are very diverse and come in a wide range of flavours. They can be enjoyed on their own or commonly enjoyed with a cup of tea or coffee.</p>
				</div>
			</div>
				<div class="thumbnail col-md-4">
					<a href="{{ url_for('candy')}}"><img src="{{ url_for('static', filename='img/candy.jpg')}}"></a>
					<div class="caption" style="text-align:center">
						<h3>Candy</h3>
						<p>The word Candy is used to describe many kinds of confectionery. There are many kinds available some of the most popular candies include lollipops, jelly beans, gummy/chewy sweets and hard boiled sweets.</p>
					</div>
				</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}