{% extends "base.html" %}
{% block content %}
<!-- page detailing the different flavours and varieties of walkers crisps -->
<div class="container" id="walkers">
<!-- link to walkers nutritional info -->
	<strong><h1>Walkers</h1><a href="{{ url_for('walkersnutrition')}}"> 
	<div class="nutrition">Nutritional Information</div></a>
		
	</strong>	
		<div class="row">
			<div class="col-md-12">
				<div class="walkers">
					<div class="thumbnail col-md-6">
					
					<img src="{{ url_for('static', filename='img/w-crisps.jpg')}}">
					<ul>
					<!-- parsing and listing the contents of the JSON file pertaining to walkers -->
					<!-- for each snack, all of the flavours are printed to the screen -->
						<div class="heading"><p>{{ walkers.Snack1 }}</p></div>
						<p>Flavours:</p>
						{% for flavours in walkers.Flavours1 %}
						<p>{{ flavours }}</p>
						{% endfor %}
					</div>
				</div>
				<div class="walkers">
					<div class="thumbnail col-md-6">
					<img src="{{ url_for('static', filename='img/sensations.jpg')}}">
						<div class="heading"><p>{{ walkers.Snack2 }}</p></div>
						<p> Flavours:</p>
						{% for flavours in walkers.Flavours2 %}
							<p>{{ flavours }}</p>
						{% endfor %}
						
					</ul>
				</div>
			</div>
	</div>
</div><!-- End container -->
{% endblock %}