{% extends "base.html" %}
{% block content %}
<!-- page containing walkers nutritional info -->
<div class="container" id="walkers-cards">
	<h1>Walkers Nutritional Information</h1>

	
	<div class="row">
		<div class="col-md-12">
			<div class="thumbnail col-md-6">
				<img src="{{ url_for('static', filename='img/ready-salted.jpg')}}">
			<div class="caption" style="text-align:center">
				<h2>Walkers Crisps</h2>
				<h3>Average Nutritional info</h3>
				<p> Flavour: Ready Salted 30g</p>
				<p>Calories:171</p>
				<p>Total Fat:10.4g</p>
				<p>Sat Fat:0.8g</p>
				<p>Sugars:0.1g</p>
				<p>Sodium:0.46g</p>
			</div>
			</div>
			
			<div class="thumbnail col-md-6">
				<img src="{{ url_for('static', filename='img/sweet-chilli.jpg')}}">
				<div class="caption" style="text-align:center">
				<h2>Sensations</h2>
				<h3>Average Nutritional info</h3>
				<p> Flavour:Thai Sweet Chilli 30g</p>
				<p>Calories:151</p>
				<p>Total Fat:7.9g</p>
				<p>Sat Fat:0.7g</p>
				<p>Sugars:1.1g</p>
				<p>Sodium:0.48g</p>
				</div>
			</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->
{% endblock %}