.thumbnail
{
   	position:relative;
	border:groove;
	padding-top:2%;
	padding-left:0.5%;
	padding-right:0.5%;
}
.heading
{
	font-size:25px;
	font-weight:bold;
	text-align:center;
}
.walkers
{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	
}

.pringles
{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	
}
.mccoys
{
	font-size:18px;
	font-weight:bold;
	text-align:center;
	
}

.nutrition
{
	font-size:20px;
	font-weight:bold;
	text-align:center;
}

.footer 
{
  position:fixed;
  right:0;
  bottom:0;
  left:0;
  padding:0.2%;
  background-color:#222222;
  text-align:center;
  color:#9D9D9D;
      
    
}